@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Abhaya Libre", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grid {
  background-color: #423ca3;
}

.masthead {
  background-color: #423ca3;
}

h1 {
  color: #fff;
}

.btn {
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: .5em;

  background-color: #15114c;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
    vertical-align: middle;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
